<%= error_messages_for @customer %>

<h1>Page of 3 of 4: Billing</h1>

<p>
	<b>Enter billing address</b>
	<br>
	<%= check_box_tag :bill_address_same_as_ship, "on", @customer.bill_address_same_as_ship %>
	<%= label_tag :bill_address_same_as_ship, "Same as shipping address" %>
	<br>
	<%= label_tag :bill_address1, "Address1" %>
	<br>
	<%= text_field_tag :bill_address1, @customer.bill_address1 %>
	<br>
	<%= label_tag :bill_city, "City" %>
	<br>
	<%= text_field_tag :bill_city, @customer.bill_city %>
	<br>
	<%= label_tag :bill_state, "State" %>
	<br>
	<%= select_tag "state", options_from_collection_for_select(
      @u_s_states, :abbreviation, :name, @customer.bill_state),
    prompt: "" %>
	<br>
	<%= label_tag :bill_zip_code, "Zip code" %>
	<br>
	<%= text_field_tag :bill_zip_code, @customer.bill_zip_code %>
	<br>
	<%= submit_tag "Go back" %>
	or
	<%= submit_tag "Continue" %>
</p>
