<h1>Page 4 of 4: Review</h1>

<h2>Name</h2>
<p>
	<%= @customer.first_name %>
	<%= @customer.last_name %>
</p>

<br>

<h2>Shipping speed</h2>
<p>
	<%= @customer.ship_speed %>
</p>
<br>

<h2>Shipping address</h2>
<p>
	<%= @customer.ship_address1 %>
	<%= @customer.ship_city %>
	<%= @customer.ship_state %>
	<%= @customer.ship_zip_code %>
</p>
<br>

<h2>Billing address</h2>
<p>
	<%= @customer.bill_address1 %>
	<%= @customer.bill_city %>
	<%= @customer.bill_state %>
	<%= @customer.bill_zip_code %>
</p>
<br>

<p>
	<%= submit_tag "Go back" %>
	or
	<%= submit_tag "Place order" %>
</p>