<h1><%= @city.name %> <i>"<%= @city.nickname %>"</i></h1>


<h2>
<div class='row'>
  <div class='col-md-4'>Country</div>
  <div class='col-md-4'>Time zone</div>
  <div class='col-md-4'>Population</div>
</div>
</h2>
<br>

<div class='row'>
  <div class='col-md-4'><img src="/images/<%= @city.country_flag_filename %>"> <%= @city.country %></div>
  <div class='col-md-4'>UTC+0<%= @city.time_zone_offset %>00</div>
  <div class='col-md-4'><%= @city.population_in_millions %> million</div>
</div>

<br>

<h2>
<div class='row'>
  <div class='col-md-8'>Official URL</div>
  <div class='col-md-4'>River</div>
</div>
</h2>

<div class='row'>
  <div class='col-md-8'><a href="<%= @city.official_url %>"><%= @city.official_url %></a>  </div>
  <div class='col-md-4'><%= @city.river %></div>
</div>