<h1>Edit patient <%= @patient.id %></h1>

<p>
	<%= label_tag "systolic" %>
	<br>
	<%= text_field_tag "systolic", @patient.systolic, placeholder: "Sysolic" %>
</p>

<p>
	<%= label_tag "diastolic" %>
	<br>
	<%= text_field_tag "diastolic", @patient.diastolic, placeholder: "Diastolic" %>
</p>


<p><%= submit_tag "Update" %></p>
