<h1>
	Edit
	<%= @language.name %>
</h1>

<p>Name</p>

<p>
	<%= text_field_tag "name", @language.name %>
</p>

<p>Number of speakers</p>

<p>
	<%= text_field_tag "num_speakers", @language.num_speakers %>
</p>

<p>Language Family</p>

<p>
	<%= label_tag "language_family_id" %>
	<br>
	<%= select_tag "language_family_id", options_from_collection_for_select(LanguageFamily.order(:id), :id, :name, @language.language_family_id), prompt: "Choose Language" %>
</p>

<p>Main script</p>

<p>
	<%= select_tag "main_script", options_for_select(["Latin", "Perso-Arabic"], @language.main_script), prompt: "Choose main script" %>
</p>

<p>Has arabic script</p>

<p>
	<%= check_box_tag "has_arabic_script", "on", @language.has_arabic_script  %>
</p>

<p>
	<%= submit_tag "Update language" %>
</p>